:root {
	--main-text-color: #0077b6;
	--second-text-color: #000000;
	--text-link-active: #2196f3;
	--main-text-button-color: #ffffff;
	--button-color: #0077b6;
	--bg-color: #ffffff;
}

[data-theme='dark'] {
	--main-text-color: #cfcfcf;
	--second-text-color: #8a8a8a;
	--text-link-active: #2196f3;
	--main-text-button-color: #262626;
	--button-color: #2196f3;
	--bg-color: #181818;
}

/* [data-theme='dark'] {
    --main-text-color: #e0e0e0;
    --second-text-color: #b0b0b0;
    --main-text-button-color: #000000;
    --button-color: #0077b6;
    --bg-color: #121212;
} */

/* [data-theme='dark'] {
    --main-text-color: #d4d4d4;
    --second-text-color: #a9a9a9;
    --main-text-button-color: #121212;
    --button-color: #32a852;
    --bg-color: #1c1c1c;
} */

/* [data-theme='dark'] {
    --main-text-color: #f0f0f0;
    --second-text-color: #bbbbbb;
    --main-text-button-color: #141414;
    --button-color: #ffd700;
    --bg-color: #232323;
} */

body {
	background-color: var(--bg-color);
}

.card-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.blue {
	background-color: var(--button-color) !important;
	color: var(--main-text-button-color) !important;
}

.dialog {
	width: 480px;
	padding: 20px;
	border-radius: 10px;
	margin-bottom: 20px;
	background-color: var(--bg-color);
}

.dialog h2 {
	margin: 0 0 10px;
	color: var(--main-text-color);
}

h2 {
	font-size: 24px;
	margin-top: 30px;
	margin-bottom: 10px;
	color: var(--main-text-color);
}

p {
	font-size: 18px;
	margin-bottom: 20px;
	color: var(--second-text-color);
}

li {
	color: var(--second-text-color);
}

a {
	color: var(--main-text-color);
	text-decoration: none;
}

a:hover {
	color: var(--text-link-active);
}

.active-menu {
	color: var(--text-link-active);
}
